<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">Площадь.ру</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <div id="guestMenu" class="d-flex ms-auto">
        <a class="btn btn-outline-light me-2" href="login.html">Вход</a>
      </div>

      <div id="userMenu" class="d-flex d-none ms-auto">
        <a class="nav-link text-white" href="profile.html">Личный кабинет</a>
      </div>
    </div>
  </div>
</nav>
