body {
  color: #212529;
}

.bg-light {
  background-color: #d4d8dd !important;
}

.text-muted {
  color: #495057 !important;
}

.card-text,
.card-title,
p,
span,
label {
  color: #212529;
}

a {
  color: #0d6efd;
}

a.text-dark {
  color: #212529 !important;
}

input.me-1{
  margin-left: 1rem;
}