/* СВЕТЛАЯ ТЕМА */
:root {
    --bg-color: #f1f3f5;
    --text-color: #212529;
    --card-bg: #ffffff;
    --navbar-bg: #212529;
    --navbar-text: #ffffff;

    --primary-color: #0d6efd;
    --secondary-color: #6c757d;

    --input-bg: #ffffff;
    --input-text: #212529;
    --border-color: #ced4da;
}

/* ТЁМНАЯ ТЕМА */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e9ecef;
    --card-bg: #1e1e1e;
    --navbar-bg: #000000;
    --navbar-text: #ffffff;

    --primary-color: #4dabf7;
    --secondary-color: #adb5bd;

    --input-bg: #1e1e1e;
    --input-text: #e9ecef;
    --border-color: #495057;
}

/* ОБЩИЕ СТИЛИ */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg) !important;
}

.navbar-brand,
.nav-link {
    color: var(--navbar-text) !important;
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.card-text {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

/* формы */
.form-control,
.form-select {
    background-color: var(--input-bg);
    color: var(--input-text);
    border-color: var(--border-color);
}

.form-control::placeholder {
    color: var(--secondary-color);
    opacity: 1;
}

/* кнопки */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-secondary {
    color: var(--text-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* картинки */
.card img {
    height: 200px;
    object-fit: cover;
}

.footer {
  padding: 16px 0;
  background-color: #212529; /* как navbar bg-dark */
  text-align: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}