<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Диалог</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="chatContent">
      </div>
      <div class="modal-footer">
        <input type="text" class="form-control" id="chatInput" placeholder="Написать сообщение...">
        <button id="chatSendBtn" class="btn btn-primary">Отправить</button>
      </div>
    </div>
  </div>
</div>
