:root {
	color-scheme: light dark;
}

body, html {
	color: var(--text-color);
	background-color: var(--bg-color);
	height: 100%;
}

.login-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
}

.login-box {
	width: 100%;
	max-width: 400px;
	padding: 2rem;
	background-color: var(--fg-color);
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.register-text {
	text-align: center;
	margin-top: 1rem;
}

.register-text a {
	text-decoration: none;
}

.resume-section {
	background-color: var(--fg-color);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	margin-bottom: 1.5rem;
}

.vacancy-container {
	max-width: 800px;
	margin: 50px auto;
	background-color: var(--fg-color);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.vacancy-header {
	margin-bottom: 1.5rem;
}

.vacancy-header h2 {
	margin-bottom: 0.3rem;
}

.vacancy-header p {
	margin-bottom: 0;
	color: var(--bg-text-color);
}

.card {
	background-color: var(--fg-color);
	color: var(--bg-text-color);
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	margin-bottom: 1rem;
}

.section-title {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.filter-section {
	background-color: var(--fg-color);
	padding: 1.5rem;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar {
	background-color: var(--bg-header-color) !important;
	box-shadow: none !important;
}

.navbar-brand,
.nav-item {
	font-weight: bold;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.icon {
	fill: #ffffff;
	width: 25px;
	height: 25px;
}

.form-control {
	height: 100%;
}

.resume-profile {
	display: flex;
	margin-bottom: 20px;
}

input {
	color: var(--text-color) !important;
	background-color: var(--bg-color) !important;
	border: none !important;
	box-shadow: 0 0 1px #000;
}

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 1px #000 !important;
}