:root {
    --back-color: #2a3c31;
    --heading-text: #E6D8C3;
    --latest-color: #E6D8C3;
    --signup-color: #846e4e;
    --hover-bg: #56514870;
    --hover-color: #38302a;
    --btn-bg: #565148;
    --btn-color: #E6D8C3;
    --form-bg: #6f675b;
    --form-color: #d1b6a1;
}
