:root {
    --back-color: #2a3c31;
    --heading-text: #E6D8C3;
    --heading-bg: #151f19;
    --home-outer: #2a3c31;
    --latest-color: #E6D8C3;
    --card-color: #6b937a;
    --border-color: #E6D8C3;
    --offcanvas-color: #151f19;
    --link-color: #482f08;
}

