:root {
    --back-color: #E6D8C3;
    --heading-text: #2a3c31;
    --latest-color: #2a3c31;
    --signup-color: #204e2f;
    --hover-bg: #2a3c314b;
    --hover-color: #38302a;
    --btn-bg: #2a3c31;
    --btn-color: #E6D8C3;
    --form-bg: #E6D8C3;
    --form-color: #38302a;
}