:root {
    --back-color: #E6D8C3;
    --heading-text: #2a3c31;
    --heading-bg: #C2A68C;
    --home-outer: #E6D8C3;
    --latest-color: #2a3c31;
    --card-color: #F5F5F0;
    --border-color: #5D866C;
    --offcanvas-color: #e3ded7;
    --link-color: #C2A68C;
}