body { 
    margin: 0; 
    background: #f3f8f4; 
}

nav {
    display: flex; 
    justify-content: flex-start; 
    gap: 20px;
    align-items: center;
    background: #ffffff; 
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; 
    top: 0; 
    z-index: 100;
}

main { 
    padding: 40px; 
    max-width: 1200px; 
    margin: auto; 
}

#citySelect {
    float: left;
    padding: 8px; 
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    outline: none;
    margin-right:20px;
}

.logo a { 
    font-size: 22px; 
    font-weight: bold;
    text-decoration: none; 
    color: #3c8c5a;
    background: none; 
    border: none;
    cursor: pointer; 
}

.nav-links {
    margin-left: auto;
}

.nav-links a, .nav-links button {
    margin-left: 20px; 
    text-decoration: none; 
    color: #3c8c5a;
    font-size: 16px; 
    background: none; 
    border: none; 
    cursor: pointer;
}

.nav-links button:hover, .nav-links a:hover, .logo a:hover { color: #2f7247; }

footer {
    background: #ffffff; 
    padding: 30px 40px; 
    margin-top: 40px;
    box-shadow: 0 -3px 15px rgba(0,0,0,0.1);
}

footer .footer-row { 
    display: flex; 
    justify-content: space-between; 
}

footer .footer-col { max-width: 300px; }

footer h3 { color: #3c8c5a; }

footer a { 
    color: #4caf7a; 
    text-decoration: none; 
}