.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search { 
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 25px; 
}

.search input {
    padding: 12px; 
    border-radius: 10px; 
    border: 1px solid #cde3d4; 
    width: 100%;
}

.search button {
    background: #4caf7a; 
    color: #fff; 
    border: none;
    padding: 12px 20px;     
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px;
}

.search button:hover { background: #40986a; }

.filters {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #cde3d4;
    width: calc(25% - 12px);
    position: sticky;
    top: 75px; 
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.filter {
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    cursor: pointer;
    color: #2e4d39;
}

.filter select {
    padding: 8px;
    border-radius: 5px; 
    border: 1px solid #cde3d4; 
    width: calc(100% - 20px)
}

.filter h6 {
    margin: 5px 0 5px 0;
    color: #3c8c5a;
}

.filter input[type="checkbox"] {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    accent-color: #4caf7a;
}

.apply-btn {
    width: 100%;
    padding: 10px 20px;
    margin-top: auto;
    background:#4caf7a; 
    color:#fff; 
    border:none; 
    border-radius: 0 0 5px 5px; 
    font-size: 16px; 
    cursor: pointer;
}

.cards { 
    width: 75%;
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

.card {
    display: flex; 
    flex-direction: row;
    background: #ffffff;
    border: 1px solid #cde3d4;
    border-radius: 5px; 
    overflow: hidden;
    margin-left: 10px;
}

.card img {
    width: 360px; 
    height: 240px; 
    object-fit: cover;
}

.card-info { 
    padding: 15px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.card-link {
    text-decoration: none; 
    color: #3c8c5a;
    font-size: 16px; 
    background: none; 
    border: none; 
    cursor: pointer;
}

.card-link:hover { color: #2f7247; }

.price { 
    font-size: 20px; 
    color: #3c8c5a; 
    font-weight: bold; 
}
