
body[data-theme="oldpaper"] {
    --bg-color: #f2eecb;
    --bg-color-card: #f0ead6;
    --text-color: #152238;
    --visited-link-color: #676767;
}


body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body[data-theme="oldpaper"] div.card,
body[data-theme="oldpaper"] ul li.card {
    background-color: var(--bg-color-card);
}