main {
    padding: 40px 20px;
    text-align: center;
}

main h3 {
    color: #333;
    margin-bottom: 20px;
    font-weight: 300;
}

main p {
    color: #6c757d;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* для index.html */
.carousel-container {
    width: 66%;
    margin: 0 auto; 
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-inner {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover; 
    object-position: center; 
}

.carousel-caption h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.156);
}

.carousel-caption p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 60px;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}

/* для профиля */
.profile-header {
    color: rgb(52, 52, 52);
    padding: 20px 0;
    margin-bottom: 10px;
}

.profile-avatar {
    width: 160px;
    height: 160px;
}

/* для всех вкладок */
.nav-tabs .nav-link {
    color: #227436;
}