body, .card-bg, .input-bg, .input-bg:focus  {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card-bg {
    border-color: var(--border-color);
}

.input-bg {
    border: 1px solid var(--border-color);
    outline: none;
}

.input-bg::placeholder {
    color: var(--text-color);
    opacity: 0.3;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.restaurant-image {
    height: 180px;
    object-fit: cover;
}

.menu-card-image {
    height: 200px;
    object-fit: cover;
}

.restaurant-card-title {
    font-size: 20px;
}

.restaurant-slider-image {
    height: 600px;
    object-fit: cover;
}