@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@700;900&display=swap');

:root {
--bg-primary: #1b1432;
--bg-secondary: #241955;
--text-primary: #f2ead7;
--text-secondary: #a082c7;
--accent: #ffd700;
--accent2: #d57ef6;
--accent-hover: #ffed4e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    color: var(--text-primary);
    min-height: 100vh;
    background-attachment: fixed;
}

