<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Основная навигация">
  <a class="visually-hidden-focusable" href="#main">Перейти к содержимому</a>
  <div class="container">
    <a class="navbar-brand" href="../screen/index.html">
      Площадь.ру
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Открыть меню навигации">
      <span class="navbar-toggler-icon" aria-hidden="true"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item" id="guestMenu">
          <a class="btn btn-outline-light me-2" href="../screen/login.html">
            Вход
          </a>
        </li>
        <li class="nav-item d-none" id="userMenu">
          <a class="nav-link text-white" href="../screen/profile.html">
            Личный кабинет
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
